* {
  box-sizing: border-box;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

.todo-title {
  font-size: 100px;
  text-align: center;
  font-weight: 100;
  color: rgba(200, 20, 20, 0.2);
  margin: 10px;
}

