.todo-item {
  position: relative;
  padding: 10px 0;
  box-shadow: 0 0 1px 0 rgba(100, 100, 100, 0.4);
  .view {
    position: relative;
    .toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      margin: auto 0;
      background-image: url(../images/unchecked.svg);
      background-repeat: no-repeat;
      appearance: none;
    }
    .toggle:checked {
      background-image: url(../images/checked.svg);
    }
    label {
      height: 40px;
      margin-left: 48px;
      padding: 10px;
      display: block;
      font-size: 20px;
      line-height: 1;
    }
    .delete {
      display: none;
      border: none;
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      font-size: 20px;
      color: gray;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 10px;
    }
    &:hover .delete {
      display: block;
    }
  }
  .edit {
    display: none;
    width: calc(100% - 48px);
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    position: absolute;
    top: 0;
    margin-left: 48px; 
    padding: 10px;
    border: none;
    font-size: 20px;
    line-height: 40px;
  }
}