@use './nomalize.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.todos {
  box-sizing: border-box;
  padding-top: 100px;
  height: 100vh;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  text-align: center;

  &-header {
    font-size: calc(10px + 2vmin);
    color: white;

    h1 {
      font-weight: 700;
      font-size: 70px;
      padding-bottom: 50px;
    }
  }

  form input {
    width: 400px;
    padding: 16px 26px 16px 40px;
    border: none;
    font-size: 20px;
    background: #fff;
    border-radius: 10px;
  }

  ul {
    padding: 30px 0;
    max-height: 500px;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;

      input {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
      }

      label {
        flex-grow: 1;
        padding-left: 20px;
        text-align: left;
      }

      &.checked label {
        text-decoration: line-through;
      }

      button {
        background-color: #c0392b;
        font-weight: 700;
        color: #fff;
        border-width: 0;
        border-radius: 5px;
        margin-left: auto;
        padding: 8px 12px;
        cursor: pointer;
      }
    }
  }
}

.todo--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--text {
    color: #fff;
  }

  &--btnWrap {
    button {
      // font-weight: 700;
      // color: #fff;
      border-width: 0;
      border-radius: 2px;
      margin-left: 10px;
      padding: 8px 12px;
      cursor: pointer;
    }
  }
}
